@use 'reset';
@use 'variables' as v;

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;

	//TODO: suppress when finalizing
	background-color: map-get(v.$bg-colors2, primary);


	h1,
	h2 {
		font-family: "Oleo Script", system-ui;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
	}

	header,
	footer {
		background-color: map-get(v.$bg-colors2, tertiary);
	}
}