@use 'reset';
@use 'variables' as v;

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //TODO: suppress when finalizing
  background-color: map-get(v.$bg-colors2, primary);

  button,
  h1,
  h2 {
    font-family: 'Oleo Script', system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #fff;
  }

  h3,
  h4 {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h3 {
    font-size: 30px;
    margin-block: 2.5vh;
}

  h4 {
    font-size: 24px;
    margin-block: 1.8vh;
  }

  header,
  footer {
    background-color: map-get(v.$bg-colors2, tertiary);
  }

  // stylizing buttons
  .button {
    font-family: 'Oleo Script', system-ui;
    font-size: min(6.5vw, 30px);
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 30px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #000;
    background-image: linear-gradient(
      to right bottom,
      #efb6b5,
      #e19daf,
      #ca86af,
      #a775b3,
      #756ab6
    );
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      background-position: right center;
    }
  }

  // color shortcuts
  .primary {
    color: map-get(v.$bg-colors2, primary);
  }

  .secondary {
    color: map-get(v.$bg-colors2, secondary);
  }

  .tertiary {
    color: map-get(v.$bg-colors2, tertiary);
  }

  .quaternary {
    color: map-get(v.$bg-colors2, quaternary);
  }

  .accent {
    color: map-get(v.$bg-colors2, accent);
  }
}
