@use 'src/styles/variables' as v;

.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  // pushes title down, if use margin-top, it also pushes main element down
  padding: 3vh;

  &-title {
    font-size: min(5vh, 32px);
  }

  .small {
      font-size: 12px;
  }

  &-img {
    /*     width: 100%;
    max-width: 800px; */
    width: min(100%, 495px);
    object-fit: cover;
  }
}
