//@use 'src/styles/variables' as v;

.Header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

  &-logo {
    height: 85%;

    &_img {
    max-width: auto;
    height: 100%;
    padding-left: 10px;
    }
  }

  &-logo,
  &-nav_list {
    display: flex;
    align-items: center;
  }

  &-nav {
    flex-grow: 0.6;
    margin: 0 auto;

    &_list {
      flex-wrap: wrap;
      justify-content: space-around;
      column-gap: 5px;
      font-family: 'Oleo Script', system-ui;
      font-size: 35px;
    }
  }

  &-nav.mobile {
    margin: 0 10px;
  }
}

.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  .hamburger-button {
    height: 100%;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;

    span {
      height: 100%;
      width: 100%;

      i {
        font-size: 40px;
      }
    }
  }
}
