@import 'src/styles/variables';

.Header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 100;

  &_logo,
  &_list {
    display: flex;
    align-items: center;
  }

  &_logo {
    font-style: italic;
    font-weight: 700;
    max-width: auto;
    height: 85%;
    padding-left: 10px;
  }

  &_list {
    flex-grow: 0.6;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 5px;
    margin: 0 auto;
  }
}
