//@use 'src/styles/variables' as v;

.Header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

  &-logo {
    height: 85%;

    &_img {
    max-width: auto;
    height: 100%;
    padding-left: 10px;
    }
  }

  &-logo,
  &-nav_list {
    display: flex;
    align-items: center;
  }

  &-nav {
      flex-grow: 0.6;
      margin: 0 auto;

    &_list {
      flex-wrap: wrap;
      justify-content: space-around;
      column-gap: 5px;

    }
  }

}
